.about-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
}
.about-intro {
  width: 100%;
  display: flex;
  padding: 48px;
  margin-top: var(--dl-space-space-sixunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.about-text {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}
.about-container01 {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  max-width: 1400px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.about-container02 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}
.about-text01 {
  max-width: 1400px;
  text-align: left;
  line-height: 2;
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: 1.2px;
}
.about-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.about-container04 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.about-container05 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.about-li {
  list-style-type: none;
}
.about-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-icon {
  fill: var(--dl-color-secondary-400);
  width: var(--dl-size-size-triplequarterunit);
  height: var(--dl-size-size-triplequarterunit);
  margin-top: 0px;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
}
.about-text02 {
  color: var(--dl-color-secondary-400);
  width: 100%;
  display: inline-block;
  font-size: 0.9rem;
  text-align: left;
}
.about-container07 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.about-li1 {
  list-style-type: none;
}
.about-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-icon02 {
  fill: var(--dl-color-secondary-400);
  width: var(--dl-size-size-triplequarterunit);
  height: var(--dl-size-size-triplequarterunit);
  margin-top: 0px;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
}
.about-text03 {
  color: var(--dl-color-secondary-400);
  width: 100%;
  display: inline-block;
  font-size: 0.9rem;
  text-align: left;
}
.about-container09 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.about-li2 {
  list-style-type: none;
}
.about-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-icon04 {
  fill: var(--dl-color-secondary-400);
  width: var(--dl-size-size-triplequarterunit);
  height: var(--dl-size-size-triplequarterunit);
  margin-top: 0px;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
}
.about-text04 {
  color: var(--dl-color-secondary-400);
  width: 100%;
  display: inline-block;
  font-size: 0.9rem;
  text-align: left;
}
.about-container11 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.about-li3 {
  list-style-type: none;
}
.about-container12 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-icon06 {
  fill: var(--dl-color-secondary-400);
  width: var(--dl-size-size-triplequarterunit);
  height: var(--dl-size-size-triplequarterunit);
  margin-top: 0px;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
}
.about-text05 {
  color: var(--dl-color-secondary-400);
  width: 100%;
  display: inline-block;
  font-size: 0.9rem;
  text-align: left;
}
.about-container13 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.about-li4 {
  list-style-type: none;
}
.about-container14 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-icon08 {
  fill: var(--dl-color-secondary-400);
  width: var(--dl-size-size-triplequarterunit);
  height: var(--dl-size-size-triplequarterunit);
  margin-top: 0px;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
}
.about-text06 {
  color: var(--dl-color-secondary-400);
  width: 100%;
  display: inline-block;
  font-size: 0.9rem;
  text-align: left;
}
.about-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unitandahalfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.about-button {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
}
.about-button:hover {
  transform: scale(1.02);
}
.about-container16 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-image {
  height: 350px;
  object-fit: cover;
}
.about-history {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(310deg,#005d63,#82bb27);
}
.about-container17 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  z-index: 1;
  max-width: 1320px;
  align-items: flex-start;
  padding-top: 15rem;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: 15rem;
  justify-content: space-between;
}
.about-container18 {
  flex: 1;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.about-container19 {
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  margin-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.about-text07 {
  color: var(--dl-color-gray-white);
  opacity: 0.8;
  font-size: 1rem;
  font-family: Open Sans;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.about-text08 {
  opacity: 0.8;
  margin-bottom: var(--dl-space-space-unit);
}
.about-text10 {
  color: var(--dl-color-gray-white);
  font-size: 2rem;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.about-text13 {
  color: var(--dl-color-gray-white);
  opacity: 0.8;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.about-ul {
  color: var(--dl-color-gray-white);
  list-style-type: disc;
}
.about-container20 {
  flex: 0 0 auto;
  width: 40%;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-image01 {
  width: 100%;
  object-fit: cover;
}
.about-bottom-wave-image {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: -5px;
  z-index: 2;
  position: absolute;
  object-fit: cover;
}
.about-image02 {
  top: auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: auto;
  filter: opacity(.1);
  height: 100%;
  position: absolute;
  object-fit: cover;
}
.about-top-wave-image {
  top: -5px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  z-index: 2;
  position: absolute;
  object-fit: cover;
}
.about-vision {
  width: 100%;
  display: flex;
  padding: 48px;
  margin-top: var(--dl-space-space-sixunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.about-container21 {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  max-width: 1400px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.about-container22 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-image03 {
  height: 450px;
  object-fit: cover;
}
.about-container23 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-items: stretch;
  flex-direction: column;
}
.about-text18 {
  opacity: 0.8;
  font-size: 1rem;
  font-family: Open Sans;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.about-text21 {
  font-size: 2rem;
  text-align: right;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: uppercase;
}
.about-text22 {
  direction: rtl;
  max-width: 1400px;
  text-align: justify;
  line-height: 2;
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: 1.2px;
}
.about-mission {
  width: 100%;
  display: flex;
  padding: 48px;
  margin-top: var(--dl-space-space-sixunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.about-container24 {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  max-width: 1400px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.about-container25 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-items: stretch;
  flex-direction: column;
}
.about-text23 {
  opacity: 0.8;
  font-size: 1rem;
  font-family: Open Sans;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: none;
  text-decoration: none;
}
.about-text24 {
  font-size: 2rem;
  text-align: right;
  margin-bottom: var(--dl-space-space-tripleunit);
  text-transform: uppercase;
}
.about-text25 {
  max-width: 1400px;
  text-align: justify;
  line-height: 2;
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: 1.2px;
}
.about-container26 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.about-image04 {
  width: 70%;
  object-fit: cover;
}
.about-pricing {
  width: 100%;
  display: flex;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(90deg, rgba(0, 93, 99, 0.7) 0.00%,rgba(130, 187, 39, 0.71) 99.00%),url("/playground_assets/pattern..asset%201.svg");
  background-position: center;
}
.about-container27 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  background-size: cover;
  justify-content: center;
}
.about-container28 {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.about-main {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 0;
  position: relative;
  max-width: 1320px;
  margin-top: var(--dl-space-space-fourunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: row;
  justify-content: flex-end;
}
.about-container29 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  z-index: 2;
  align-self: flex-end;
  margin-top: var(--dl-space-space-sixunits);
  align-items: flex-start;
  margin-left: var(--dl-space-space-tripleunit);
  padding-top: var(--dl-space-space-tripleunit);
  margin-right: var(--dl-space-space-tripleunit);
  margin-bottom: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
}
.about-text26 {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-halfunit);
  background-image: linear-gradient(310deg,#7928ca,#ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-text27 {
  color: var(--dl-color-secondary-700);
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.about-text28 {
  margin-bottom: var(--dl-space-space-unit);
}
.about-text29 {
  color: rgb(103, 116, 142);
  display: inline;
  font-weight: 400;
  white-space: normal;
}
.about-container30 {
  flex: 0 0 auto;
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.about-textinput {
  width: 100%;
  transition: 0.3s;
  padding-top: var(--dl-space-space-halfunit);
  border-color: var(--dl-color-secondary-100);
  margin-right: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-triplequarterunit);
  border-radius: var(--dl-radius-radius-radius5);
  padding-right: var(--dl-space-space-triplequarterunit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.about-textinput:focus {
  outline: 0;
  box-shadow: 0 0 0 2px #e9aede;
  border-color: var(--dl-color-pink-200);
}
.about-grid {
  top: -20%;
  left: -35%;
  width: 70%;
  display: grid;
  grid-gap: var(--dl-space-space-doubleunit);
  position: absolute;
  transform: rotate(20deg);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.about-image05 {
  width: 100%;
}
.about-image06 {
  width: 100%;
  margin-top: -200px;
}
.about-image07 {
  width: 100%;
  margin-top: -50px;
}
.about-image08 {
  width: 100%;
}
.about-image09 {
  width: 100%;
}
.about-image10 {
  width: 100%;
  margin-top: -200px;
}
.about-image11 {
  width: 100%;
  margin-top: -50px;
}
.about-image12 {
  width: 100%;
}
.about-image13 {
  width: 100%;
}
.about-image14 {
  width: 100%;
  margin-top: -200px;
}
.about-image15 {
  width: 100%;
  margin-top: -50px;
}
.about-image16 {
  width: 100%;
}
.about-image17 {
  width: 100%;
}
.about-image18 {
  width: 100%;
  margin-top: -200px;
}
.about-image19 {
  width: 100%;
}
.about-image20 {
  width: 100%;
}
@media(max-width: 1200px) {
  .about-text {
    font-size: 3rem;
    text-transform: uppercase;
  }
  .about-container03 {
    justify-content: flex-start;
  }
  .about-container17 {
    align-items: center;
  }
  .about-text10 {
    color: var(--dl-color-gray-white);
  }
  .about-text21 {
    font-size: 3rem;
    text-transform: uppercase;
  }
  .about-text24 {
    font-size: 3rem;
    text-transform: uppercase;
  }
}
@media(max-width: 991px) {
  .about-text {
    font-size: 2rem;
  }
  .about-text02 {
    font-size: 0.8rem;
  }
  .about-text03 {
    font-size: 0.8rem;
  }
  .about-text04 {
    font-size: 0.8rem;
  }
  .about-text05 {
    font-size: 0.8rem;
  }
  .about-text06 {
    font-size: 0.8rem;
  }
  .about-container17 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    justify-content: center;
  }
  .about-container18 {
    align-items: center;
  }
  .about-container19 {
    margin-right: 0px;
  }
  .about-text07 {
    color: var(--dl-color-gray-white);
    font-size: 1rem;
    font-family: Open Sans;
    font-weight: 300;
    line-height: 1.5;
    text-transform: none;
    text-decoration: none;
  }
  .about-text10 {
    color: var(--dl-color-gray-white);
  }
  .about-text18 {
    color: var(--dl-color-gray-white);
    font-size: 1rem;
    font-family: Open Sans;
    font-weight: 300;
    line-height: 1.5;
    text-transform: none;
    text-decoration: none;
  }
  .about-text21 {
    font-size: 2rem;
  }
  .about-text23 {
    color: var(--dl-color-gray-white);
    font-size: 1rem;
    font-family: Open Sans;
    font-weight: 300;
    line-height: 1.5;
    text-transform: none;
    text-decoration: none;
  }
  .about-text24 {
    font-size: 2rem;
  }
  .about-container28 {
    background-size: auto;
  }
  .about-main {
    justify-content: flex-start;
  }
  .about-container29 {
    width: 70%;
    align-self: flex-start;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: var(--dl-space-space-tripleunit);
    margin-bottom: 0px;
    padding-right: var(--dl-space-space-tripleunit);
  }
  .about-grid {
    top: 40%;
    left: auto;
    right: -6rem;
    bottom: -6rem;
  }
  .about-image05 {
    width: 120px;
  }
  .about-image06 {
    width: 120px;
  }
  .about-image07 {
    width: 120px;
  }
  .about-image08 {
    width: 120px;
  }
  .about-image09 {
    width: 120px;
  }
  .about-image10 {
    width: 120px;
  }
  .about-image11 {
    width: 120px;
  }
  .about-image12 {
    width: 120px;
  }
  .about-image13 {
    width: 120px;
  }
  .about-image14 {
    width: 120px;
  }
  .about-image15 {
    width: 120px;
  }
  .about-image16 {
    width: 120px;
  }
  .about-image17 {
    width: 120px;
  }
  .about-image18 {
    width: 120px;
  }
  .about-image19 {
    width: 120px;
    margin-top: -50px;
  }
  .about-image20 {
    width: 120px;
  }
}
@media(max-width: 767px) {
  .about-intro {
    padding-left: 32px;
    padding-right: 32px;
  }
  .about-text {
    font-size: 1.5rem;
  }
  .about-container01 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .about-text01 {
    font-size: 0.7rem;
    letter-spacing: 1.1px;
  }
  .about-container03 {
    margin-top: var(--dl-space-space-halfunit);
  }
  .about-container15 {
    align-items: flex-start;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .about-button {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .about-container16 {
    align-self: center;
  }
  .about-image {
    height: 320px;
  }
  .about-container17 {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  .about-container20 {
    display: none;
  }
  .about-vision {
    padding-left: 32px;
    padding-right: 32px;
  }
  .about-text22 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-mission {
    padding-left: 32px;
    padding-right: 32px;
  }
  .about-text25 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-container27 {
    flex-flow: column;
    padding-left: 32px;
    padding-right: 32px;
  }
  .about-container29 {
    width: 100%;
  }
  .about-grid {
    right: 0;
  }
  .about-image05 {
    width: 100px;
  }
  .about-image06 {
    width: 100px;
  }
  .about-image07 {
    width: 100px;
  }
  .about-image08 {
    width: 100px;
  }
  .about-image09 {
    width: 100px;
  }
  .about-image10 {
    width: 100px;
  }
  .about-image11 {
    width: 100px;
  }
  .about-image12 {
    width: 100px;
  }
  .about-image13 {
    width: 100px;
  }
  .about-image14 {
    width: 100px;
  }
  .about-image15 {
    width: 100px;
  }
  .about-image16 {
    width: 100px;
  }
  .about-image17 {
    width: 100px;
  }
  .about-image18 {
    width: 100px;
  }
  .about-image19 {
    width: 100px;
  }
  .about-image20 {
    width: 100px;
  }
}
@media(max-width: 479px) {
  .about-intro {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .about-text {
    z-index: 1;
    font-size: 2rem;
  }
  .about-container01 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-container02 {
    width: 100%;
  }
  .about-text01 {
    font-size: 1rem;
    letter-spacing: 1.2px;
  }
  .about-icon {
    width: var(--dl-size-size-unit);
    height: var(--dl-size-size-unit);
  }
  .about-text02 {
    font-size: 1.2rem;
    letter-spacing: 1.2px;
  }
  .about-icon02 {
    width: var(--dl-size-size-unit);
    height: var(--dl-size-size-unit);
  }
  .about-text03 {
    font-size: 1.2rem;
    letter-spacing: 1.2px;
  }
  .about-icon04 {
    width: var(--dl-size-size-unit);
    height: var(--dl-size-size-unit);
  }
  .about-text04 {
    font-size: 1.2rem;
    letter-spacing: 1.2px;
  }
  .about-icon06 {
    width: var(--dl-size-size-unit);
    height: var(--dl-size-size-unit);
  }
  .about-text05 {
    font-size: 1.2rem;
    letter-spacing: 1.2px;
  }
  .about-icon08 {
    width: var(--dl-size-size-unit);
    height: var(--dl-size-size-unit);
  }
  .about-text06 {
    font-size: 1.2rem;
    letter-spacing: 1.2px;
  }
  .about-button {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .about-container16 {
    display: none;
  }
  .about-container17 {
    padding-top: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .about-text07 {
    color: var(--dl-color-secondary-100);
    font-size: 1rem;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 1.5;
    text-transform: none;
    text-decoration: none;
  }
  .about-text08 {
    color: var(--dl-color-secondary-100);
    font-size: 1rem;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 1.5;
    text-transform: none;
    text-decoration: none;
  }
  .about-text10 {
    color: var(--dl-color-gray-white);
    width: 382px;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 1.375;
    text-transform: uppercase;
    text-decoration: none;
  }
  .about-text13 {
    color: var(--dl-color-gray-white);
  }
  .about-container20 {
    display: none;
  }
  .about-vision {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .about-text18 {
    color: var(--dl-color-secondary-100);
    font-size: 1rem;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 1.5;
    text-transform: none;
    text-decoration: none;
  }
  .about-text19 {
    color: var(--dl-color-secondary-100);
    font-size: 1rem;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 1.5;
    text-transform: none;
    text-decoration: none;
  }
  .about-mission {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .about-text23 {
    color: var(--dl-color-secondary-100);
    font-size: 1rem;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 1.5;
    text-transform: none;
    text-decoration: none;
  }
  .about-container27 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .about-container30 {
    flex-direction: column;
  }
  .about-textinput {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
