.energy-management-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-900);
}
.energy-management-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 48px;
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(113deg, rgba(0, 54, 57, 0.7) 8.00%,rgba(50, 74, 10, 0.8) 94.00%),url('https://images.unsplash.com/photo-1603335730747-ca17baa3aac2?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fGFpciUyMGNvbmRpdGlvbmVyfGVufDB8fHx8MTY3MTI5NTcwNg&ixlib=rb-4.0.3&w=1500');
  background-repeat: center,no-repeat;
  background-position: top left,left;
}
.energy-management-container01 {
  flex: 0 0 auto;
  display: flex;
  max-width: 1350px;
  align-items: center;
  flex-direction: column;
}
.energy-management-text {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-tripleunit);
  animation-delay: .4s;
}
.energy-management-text001 {
  color: var(--dl-color-applegreen-main);
}
.energy-management-text003 {
  color: var(--dl-color-applegreen-main);
}
.energy-management-text005 {
  color: var(--dl-color-gray-white);
  max-width: 80%;
  margin-top: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-tripleunit);
  animation-delay: .6s;
}
.energy-management-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.energy-management-link {
  display: contents;
}
.energy-management-get-started-button {
  text-decoration: none;
}
.energy-management-button {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  animation-delay: .7s;
  background-color: transparent;
}
.energy-management-button:hover {
  transform: scale(1.02);
}
.energy-management-text012:hover {
  transform: scale(1.02);
}
.energy-management-section1 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: flex-start;
  background-image: linear-gradient(113deg, rgba(0, 46, 49, 0.8) 8.00%,rgba(64, 91, 21, 0.8) 94.00%),url('https://images.unsplash.com/photo-1543617080-0db79d35e926?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxtZWFzdXJlfGVufDB8fHx8MTY3MTMwMDczNg&ixlib=rb-4.0.3&w=1500');
}
.energy-management-container02 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.energy-management-text014 {
  color: var(--dl-color-gray-white);
  width: fit-content;
  font-size: 2rem;
}
.energy-management-text018 {
  color: var(--dl-color-gray-white);
  margin-top: 32px;
  text-align: left;
  margin-bottom: 32px;
}
.energy-management-problems1 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.energy-management-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.energy-management-text019 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgb(30, 177, 187) 3.00%,rgba(130, 187, 39, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.energy-management-text022 {
  color: var(--dl-color-gray-white);
}
.energy-management-text023 {
  color: var(--dl-color-gray-white);
}
.energy-management-text024 {
  color: var(--dl-color-gray-white);
}
.energy-management-solutions1 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.energy-management-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.energy-management-text027 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgb(0, 93, 99) 3.00%,rgba(130, 187, 39, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.energy-management-container07 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: max-content;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  list-style-image: url();
}
.energy-management-section2 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: flex-start;
  background-image: linear-gradient(113deg, rgba(58, 131, 136, 0.8) 10.00%,rgba(139, 185, 66, 0.8) 94.00%),url('https://res.cloudinary.com/dhdonsil5/image/upload/v1671263157/IEES/Img/services/brandi-redd-aJTiW00qqtI-unsplash_b1b9lf.jpg');
  background-repeat: no-repeat;
  background-position: top left,center;
}
.energy-management-container09 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.energy-management-text030 {
  color: var(--dl-color-gray-white);
  width: fit-content;
  font-size: 2rem;
}
.energy-management-text034 {
  color: var(--dl-color-gray-white);
  margin-top: 32px;
  text-align: left;
  margin-bottom: 32px;
}
.energy-management-problems11 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.energy-management-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.energy-management-text037 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgba(0, 0, 0, 0.72) 4.00%,rgba(43, 66, 6, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.energy-management-text040 {
  color: var(--dl-color-gray-white);
}
.energy-management-ul1 {
  font-size: .8rem;
  margin-top: var(--dl-space-space-halfunit);
  list-style-type: square;
}
.energy-management-text041 {
  color: var(--dl-color-gray-white);
}
.energy-management-text042 {
  color: var(--dl-color-gray-white);
}
.energy-management-text045 {
  color: var(--dl-color-gray-white);
}
.energy-management-solutions11 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.energy-management-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.energy-management-text048 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgb(0, 93, 99) 3.00%,rgba(130, 187, 39, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.energy-management-container14 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: max-content;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  list-style-image: url();
}
.energy-management-section3 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: flex-start;
  background-image: linear-gradient(113deg, rgba(0, 46, 49, 0.8) 8.00%,rgba(64, 91, 21, 0.8) 94.00%),url('https://images.unsplash.com/photo-1586281380117-5a60ae2050cc?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDExfHxwcm9qZWN0fGVufDB8fHx8MTY3MTMwNDU0MA&ixlib=rb-4.0.3&w=1500');
  background-repeat: no-repeat;
  background-position: top left,bottom;
}
.energy-management-container16 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.energy-management-text051 {
  color: var(--dl-color-gray-white);
  width: fit-content;
  font-size: 2rem;
}
.energy-management-text056 {
  color: var(--dl-color-gray-white);
  margin-top: 32px;
  text-align: left;
  margin-bottom: 32px;
}
.energy-management-problems12 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.energy-management-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.energy-management-text057 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgb(30, 177, 187) 3.00%,rgba(130, 187, 39, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.energy-management-text060 {
  color: var(--dl-color-gray-white);
}
.energy-management-text063 {
  color: var(--dl-color-gray-white);
}
.energy-management-text064 {
  color: var(--dl-color-gray-white);
}
.energy-management-solutions12 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.energy-management-container20 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.energy-management-text065 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgb(0, 93, 99) 3.00%,rgba(130, 187, 39, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.energy-management-container21 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: max-content;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  list-style-image: url();
}
.energy-management-section4 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: flex-start;
  background-image: linear-gradient(113deg, rgba(53, 133, 138, 0.8) 8.00%,rgba(136, 176, 71, 0.8) 94.00%),url('https://res.cloudinary.com/dhdonsil5/image/upload/v1671262007/IEES/Img/services/pm-5_uwjauo.jpg');
}
.energy-management-container23 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.energy-management-text068 {
  color: var(--dl-color-gray-white);
  width: fit-content;
  font-size: 2rem;
}
.energy-management-text073 {
  color: var(--dl-color-gray-white);
  margin-top: 32px;
  text-align: left;
  margin-bottom: 32px;
}
.energy-management-problems13 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.energy-management-container25 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.energy-management-text074 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgba(0, 0, 0, 0.72) 4.00%,rgba(43, 66, 6, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.energy-management-text077 {
  color: var(--dl-color-gray-white);
}
.energy-management-text078 {
  color: var(--dl-color-gray-white);
}
.energy-management-text079 {
  color: var(--dl-color-gray-white);
}
.energy-management-solutions13 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.energy-management-container27 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.energy-management-text080 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgb(0, 93, 99) 3.00%,rgba(130, 187, 39, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.energy-management-container28 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: max-content;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  list-style-image: url();
}
.energy-management-container29 {
  width: 100%;
  height: auto;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.energy-management-container30 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
}
.energy-management-icon {
  fill: var(--dl-color-primary-700);
  width: var(--dl-size-size-triplequarterunit);
  height: var(--dl-size-size-triplequarterunit);
  margin-top: 0px;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
}
.energy-management-text083 {
  color: var(--dl-color-primary-700);
  width: 100%;
  font-size: .9rem;
  text-align: left;
}
.energy-management-container31 {
  width: 100%;
  height: auto;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.energy-management-container32 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
}
.energy-management-icon02 {
  fill: var(--dl-color-primary-700);
  width: var(--dl-size-size-triplequarterunit);
  height: var(--dl-size-size-triplequarterunit);
  margin-top: 0px;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
}
.energy-management-text084 {
  color: var(--dl-color-primary-700);
  width: 100%;
  font-size: .9rem;
  text-align: left;
}
.energy-management-container33 {
  width: 100%;
  height: auto;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.energy-management-container34 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
}
.energy-management-icon04 {
  fill: var(--dl-color-primary-700);
  width: var(--dl-size-size-triplequarterunit);
  height: var(--dl-size-size-triplequarterunit);
  margin-top: 0px;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
}
.energy-management-text085 {
  color: var(--dl-color-primary-700);
  width: 100%;
  font-size: .9rem;
  text-align: left;
}
.energy-management-container35 {
  width: 100%;
  height: auto;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.energy-management-container36 {
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
}
.energy-management-icon06 {
  fill: var(--dl-color-primary-700);
  width: var(--dl-size-size-triplequarterunit);
  height: var(--dl-size-size-triplequarterunit);
  margin-top: 0px;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
}
.energy-management-text086 {
  color: var(--dl-color-primary-700);
  width: 100%;
  font-size: .9rem;
  text-align: left;
}
.energy-management-section7 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: flex-start;
  background-image: linear-gradient(113deg, rgba(83, 141, 144, 0.75) 8.00%,rgba(83, 164, 61, 0.76) 94.00%),url('https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE0fHxNQU5VQUwlMjBCT09LfGVufDB8fHx8MTY3MTMzNjE4MA&ixlib=rb-4.0.3&w=1500');
  background-repeat: no-repeat;
  background-position: top left;
}
.energy-management-container37 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.energy-management-text087 {
  color: var(--dl-color-gray-white);
  width: fit-content;
  font-size: 2rem;
}
.energy-management-text092 {
  color: var(--dl-color-gray-white);
  margin-top: 32px;
  text-align: left;
  margin-bottom: 32px;
}
.energy-management-problems14 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.energy-management-container39 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.energy-management-text093 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgb(30, 177, 187) 3.00%,rgba(130, 187, 39, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.energy-management-text096 {
  color: var(--dl-color-gray-white);
}
.energy-management-text099 {
  color: var(--dl-color-gray-white);
}
.energy-management-text100 {
  color: var(--dl-color-gray-white);
}
.energy-management-solutions14 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.energy-management-container41 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.energy-management-text101 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgb(0, 93, 99) 3.00%,rgba(130, 187, 39, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.energy-management-container42 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: max-content;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  list-style-image: url();
}
.energy-management-container44 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.energy-management-container45 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.energy-management-text104 {
  font-size: 3rem;
}
.energy-management-container46 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  background-size: cover;
  justify-content: center;
}
.energy-management-pricing-card {
  background-size: cover;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 0.00%,rgba(255, 255, 255, 0.7) 98.00%),url('https://res.cloudinary.com/dhdonsil5/image/upload/v1671262004/IEES/Img/services/pm-1_yeyjkp.jpg');
  background-repeat: repeat,no-repeat;
  background-position: top left,center;
}
.energy-management-text105 {
  color: var(--dl-color-primary-700);
  font-size: 2rem;
  transform: translateY(200%);
  align-self: center;
  text-align: center;
  transition: all .1s ease-out;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
.energy-management-container48 {
  flex: 0 0 auto;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.energy-management-text106 {
  text-align: left;
  font-weight: 300;
}
.energy-management-container49 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-end;
  justify-content: center;
}
.energy-management-link1 {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-top: auto;
  transition: all 0.3s ease-out;
  padding-top: var(--dl-space-space-unit);
  justify-self: flex-end;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.energy-management-link1:hover {
  background-color: var(--dl-color-applegreen-main);
}
.energy-management-pricing-card1 {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 0.00%,rgba(255, 255, 255, 0.7) 98.00%),url('https://images.unsplash.com/photo-1558358235-a0a93f68a52c?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDV8fGh2YWN8ZW58MHx8fHwxNjcxMjY3OTE3&ixlib=rb-4.0.3&w=500');
  background-position: top left,center;
}
.energy-management-pricing-card1:hover {
  transform: scale(1.02);
}
.energy-management-text107 {
  color: var(--dl-color-primary-700);
  font-size: 2rem;
  transform: translateY(200%);
  align-self: center;
  text-align: center;
  transition: all .1s ease-out;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
.energy-management-container50 {
  width: 100%;
  bottom: 0;
  height: 60%;
  display: flex;
  position: absolute;
  transform: translateY(100%);
  box-shadow: 0 -8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  min-height: 70px;
  transition: all .2s cubic-bezier(.4,0,.2,1);
  visibility: hidden;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-unitandahalfunit);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  backdrop-filter: saturate(200%) blur(30px);
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  animation-duration: 200ms;
}
.energy-management-container51 {
  flex: 0 0 auto;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.energy-management-text108 {
  text-align: left;
  font-weight: 300;
}
.energy-management-container52 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-end;
  justify-content: center;
}
.energy-management-navlink {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-top: auto;
  transition: all 0.3s ease-out;
  padding-top: var(--dl-space-space-unit);
  justify-self: flex-end;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.energy-management-navlink:hover {
  background-color: var(--dl-color-applegreen-main);
}
.energy-management-pricing-card2 {
  background-size: cover;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 0.00%,rgba(255, 255, 255, 0.7) 98.00%),url('https://images.unsplash.com/photo-1504868584819-f8e8b4b6d7e3?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEzfHxjaGFydHxlbnwwfHx8fDE2NzEyNjgwMTE&ixlib=rb-4.0.3&w=500');
}
.energy-management-pricing-card2:hover {
  transform: scale(1.02);
}
.energy-management-text109 {
  color: var(--dl-color-primary-700);
  font-size: 2rem;
  transform: translateY(200%);
  align-self: center;
  text-align: center;
  transition: all .1s ease-out;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
.energy-management-container53 {
  width: 100%;
  bottom: 0;
  height: 60%;
  display: flex;
  position: absolute;
  transform: translateY(100%);
  box-shadow: 0 -8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  min-height: 70px;
  transition: all .2s cubic-bezier(.4,0,.2,1);
  visibility: hidden;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-unitandahalfunit);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  backdrop-filter: saturate(200%) blur(30px);
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  animation-duration: 200ms;
}
.energy-management-container54 {
  flex: 0 0 auto;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.energy-management-text110 {
  text-align: left;
  font-weight: 300;
}
.energy-management-container55 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-end;
  justify-content: center;
}
.energy-management-navlink1 {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-top: auto;
  transition: all 0.3s ease-out;
  padding-top: var(--dl-space-space-unit);
  justify-self: flex-end;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.energy-management-navlink1:hover {
  background-color: var(--dl-color-applegreen-main);
}
.energy-management-up {
  top: 48px;
  flex: 0 0 auto;
  left: 739px;
  width: auto;
  height: auto;
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
}
.energy-management-icon08 {
  width: 50px;
  height: 50px;
}
.energy-management-down {
  top: 935px;
  flex: 0 0 auto;
  left: 752px;
  width: auto;
  height: auto;
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
}
.energy-management-icon10 {
  width: 50px;
  height: 50px;
}
@media(max-width: 1200px) {
  .energy-management-section1 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .energy-management-problems1 {
    width: 48%;
  }
  .energy-management-solutions1 {
    width: 48%;
  }
  .energy-management-section2 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .energy-management-problems11 {
    width: 48%;
  }
  .energy-management-solutions11 {
    width: 48%;
  }
  .energy-management-section3 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .energy-management-problems12 {
    width: 48%;
  }
  .energy-management-solutions12 {
    width: 48%;
  }
  .energy-management-section4 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .energy-management-problems13 {
    width: 48%;
  }
  .energy-management-solutions13 {
    width: 48%;
  }
  .energy-management-section7 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .energy-management-problems14 {
    width: 48%;
  }
  .energy-management-solutions14 {
    width: 48%;
  }
  .energy-management-container46 {
    width: auto;
    flex-direction: column;
  }
  .energy-management-text106 {
    line-height: 1.8;
    letter-spacing: 1.1px;
  }
  .energy-management-text108 {
    line-height: 1.8;
    letter-spacing: 1.1px;
  }
  .energy-management-text110 {
    line-height: 1.8;
    letter-spacing: 1.1px;
  }
}
@media(max-width: 991px) {
  .energy-management-hero {
    flex-direction: column;
  }
  .energy-management-text {
    text-align: center;
  }
  .energy-management-text005 {
    text-align: center;
  }
  .energy-management-text006 {
    text-align: center;
  }
  .energy-management-section1 {
    padding-left: var(--dl-space-space-doubleunit);
    flex-direction: column;
  }
  .energy-management-text019 {
    font-size: 1rem;
  }
  .energy-management-text027 {
    font-size: 1rem;
  }
  .energy-management-section2 {
    padding-left: var(--dl-space-space-doubleunit);
    flex-direction: column;
  }
  .energy-management-text037 {
    font-size: 1rem;
  }
  .energy-management-ul1 {
    font-size: .7rem;
  }
  .energy-management-text048 {
    font-size: 1rem;
  }
  .energy-management-section3 {
    padding-left: var(--dl-space-space-doubleunit);
    flex-direction: column;
  }
  .energy-management-text057 {
    font-size: 1rem;
  }
  .energy-management-text065 {
    font-size: 1rem;
  }
  .energy-management-section4 {
    padding-left: var(--dl-space-space-doubleunit);
    flex-direction: column;
  }
  .energy-management-text074 {
    font-size: 1rem;
  }
  .energy-management-text080 {
    font-size: 1rem;
  }
  .energy-management-text083 {
    font-size: 0.8rem;
  }
  .energy-management-text084 {
    font-size: 0.8rem;
  }
  .energy-management-text085 {
    font-size: 0.8rem;
  }
  .energy-management-text086 {
    font-size: 0.8rem;
  }
  .energy-management-section7 {
    padding-left: var(--dl-space-space-doubleunit);
    flex-direction: column;
  }
  .energy-management-text093 {
    font-size: 1rem;
  }
  .energy-management-text101 {
    font-size: 1rem;
  }
  .energy-management-container46 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .energy-management-hero {
    padding-left: 32px;
    padding-right: 32px;
    background-image: linear-gradient(113deg, rgba(0, 54, 57, 0.7) 8.00%,rgba(50, 74, 10, 0.8) 94.00%),url('https://images.unsplash.com/photo-1603335730747-ca17baa3aac2?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fGFpciUyMGNvbmRpdGlvbmVyfGVufDB8fHx8MTY3MTI5NTcwNg&ixlib=rb-4.0.3&w=1500');
  }
  .energy-management-text005 {
    width: 70%;
  }
  .energy-management-text006 {
    width: 70%;
  }
  .energy-management-section1 {
    height: auto;
    min-height: 100vh;
    padding-top: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .energy-management-problems1 {
    width: 90%;
    height: auto;
    justify-content: flex-start;
  }
  .energy-management-solutions1 {
    width: 90%;
    height: auto;
    justify-content: flex-start;
  }
  .energy-management-section2 {
    height: auto;
    min-height: 100vh;
    padding-top: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .energy-management-problems11 {
    width: 90%;
    height: auto;
    justify-content: flex-start;
  }
  .energy-management-solutions11 {
    width: 90%;
    height: auto;
    justify-content: flex-start;
  }
  .energy-management-section3 {
    height: auto;
    min-height: 100vh;
    padding-top: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .energy-management-problems12 {
    width: 90%;
    height: auto;
    justify-content: flex-start;
  }
  .energy-management-solutions12 {
    width: 90%;
    height: auto;
    justify-content: flex-start;
  }
  .energy-management-section4 {
    height: auto;
    min-height: 100vh;
    padding-top: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .energy-management-problems13 {
    width: 90%;
    height: auto;
    justify-content: flex-start;
  }
  .energy-management-solutions13 {
    width: 90%;
    height: auto;
    justify-content: flex-start;
  }
  .energy-management-section7 {
    height: auto;
    min-height: 100vh;
    padding-top: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .energy-management-problems14 {
    width: 90%;
    height: auto;
    justify-content: flex-start;
  }
  .energy-management-solutions14 {
    width: 90%;
    height: auto;
    justify-content: flex-start;
  }
  .energy-management-container46 {
    flex-flow: column;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .energy-management-hero {
    width: 100%;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
    padding-bottom: 32px;
  }
  .energy-management-container01 {
    margin-top: var(--dl-space-space-doubleunit);
    padding-top: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .energy-management-text {
    font-size: 2.4rem;
  }
  .energy-management-text005 {
    color: var(--dl-color-gray-white);
    width: auto;
    font-size: 0.8rem;
    max-width: 100%;
  }
  .energy-management-text006 {
    color: var(--dl-color-gray-white);
    width: auto;
    font-size: 0.8rem;
    max-width: 100%;
  }
  .energy-management-btn-group {
    flex-direction: column;
  }
  .energy-management-button {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .energy-management-text012 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .energy-management-section1 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .energy-management-container02 {
    margin-bottom: 0px;
  }
  .energy-management-text018 {
    font-size: 0.8rem;
  }
  .energy-management-problems1 {
    width: 100%;
  }
  .energy-management-solutions1 {
    width: 100%;
  }
  .energy-management-section2 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .energy-management-problems11 {
    width: 100%;
  }
  .energy-management-solutions11 {
    width: 100%;
  }
  .energy-management-section3 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .energy-management-problems12 {
    width: 100%;
  }
  .energy-management-solutions12 {
    width: 100%;
  }
  .energy-management-section4 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .energy-management-problems13 {
    width: 100%;
  }
  .energy-management-solutions13 {
    width: 100%;
  }
  .energy-management-section7 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .energy-management-problems14 {
    width: 100%;
  }
  .energy-management-solutions14 {
    width: 100%;
  }
  .energy-management-text104 {
    font-size: 2rem;
  }
  .energy-management-container46 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}
