.project-management-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-900);
}
.project-management-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 48px;
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(113deg, rgba(0, 54, 57, 0.7) 8.00%,rgba(50, 74, 10, 0.8) 94.00%),url('https://res.cloudinary.com/dhdonsil5/image/upload/v1671262004/IEES/Img/services/pm-1_yeyjkp.jpg');
  background-repeat: center,top left;
  background-position: top left,center;
}
.project-management-container01 {
  flex: 0 0 auto;
  display: flex;
  max-width: 1350px;
  align-items: center;
  flex-direction: column;
}
.project-management-text {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-tripleunit);
  animation-delay: .4s;
}
.project-management-text01 {
  color: var(--dl-color-applegreen-main);
}
.project-management-text03 {
  color: var(--dl-color-applegreen-main);
}
.project-management-text05 {
  color: var(--dl-color-gray-white);
  max-width: 80%;
  margin-top: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-tripleunit);
  animation-delay: .6s;
}
.project-management-btn-group {
  display: flex;
  flex-direction: row;
}
.project-management-container02 {
  display: flex;
  position: relative;
  animation-delay: .4s;
}
.project-management-link {
  color: var(--dl-color-primary-500);
  font-size: 0.75rem;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  animation-delay: .4s;
  text-decoration: none;
}
.project-management-link:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-primary-500);
}
.project-management-button {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  animation-delay: .7s;
  background-color: transparent;
}
.project-management-button:hover {
  transform: scale(1.02);
}
.project-management-text12:hover {
  transform: scale(1.02);
}
.project-management-section1 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: flex-start;
  background-image: linear-gradient(113deg, rgba(0, 46, 49, 0.8) 8.00%,rgba(64, 91, 21, 0.8) 94.00%),url('https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIzfHx3b3JrJTIwbGFwdG9wfGVufDB8fHx8MTYyNjE3NjkzMA&ixlib=rb-1.2.1&w=1500');
}
.project-management-container03 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.project-management-text14 {
  color: var(--dl-color-gray-white);
  width: fit-content;
  font-size: 2rem;
}
.project-management-text18 {
  color: var(--dl-color-gray-white);
  margin-top: 32px;
  text-align: left;
  margin-bottom: var(--dl-space-space-unitandahalfunit);
}
.project-management-problems1 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.project-management-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.project-management-text22 {
  width: 100%;
  position: relative;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgb(30, 177, 187) 3.00%,rgba(130, 187, 39, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-management-text25 {
  color: var(--dl-color-gray-white);
}
.project-management-text26 {
  color: var(--dl-color-gray-white);
}
.project-management-text27 {
  color: var(--dl-color-gray-white);
}
.project-management-text28 {
  color: var(--dl-color-gray-white);
}
.project-management-text29 {
  color: var(--dl-color-gray-white);
}
.project-management-text30 {
  color: var(--dl-color-gray-white);
}
.project-management-solutions1 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  min-height: 45vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.project-management-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.project-management-text31 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgb(0, 93, 99) 3.00%,rgba(130, 187, 39, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-management-container08 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: max-content;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  list-style-image: url();
}
.project-management-section2 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: flex-start;
  background-image: linear-gradient(113deg, rgba(58, 131, 136, 0.8) 10.00%,rgba(139, 185, 66, 0.8) 94.00%),url('https://res.cloudinary.com/dhdonsil5/image/upload/v1671263157/IEES/Img/services/brandi-redd-aJTiW00qqtI-unsplash_b1b9lf.jpg');
  background-repeat: no-repeat;
  background-position: top left,center;
}
.project-management-container09 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.project-management-text34 {
  color: var(--dl-color-gray-white);
  width: fit-content;
  font-size: 2rem;
}
.project-management-text38 {
  color: var(--dl-color-gray-white);
  margin-top: 32px;
  text-align: left;
  margin-bottom: 32px;
}
.project-management-problems11 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.project-management-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.project-management-text41 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgba(0, 0, 0, 0.72) 4.00%,rgba(43, 66, 6, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-management-text44 {
  color: var(--dl-color-gray-white);
}
.project-management-text45 {
  color: var(--dl-color-gray-white);
}
.project-management-text46 {
  color: var(--dl-color-gray-white);
}
.project-management-text47 {
  color: var(--dl-color-gray-white);
}
.project-management-solutions11 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.project-management-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.project-management-text48 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgb(0, 93, 99) 3.00%,rgba(130, 187, 39, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-management-container14 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: max-content;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  list-style-image: url();
}
.project-management-section21 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: flex-start;
  background-image: linear-gradient(113deg, rgba(0, 46, 49, 0.8) 8.00%,rgba(64, 91, 21, 0.8) 94.00%),url('https://res.cloudinary.com/dhdonsil5/image/upload/v1671262005/IEES/Img/services/pm-4_grqsk7.jpg');
  background-repeat: no-repeat;
  background-position: top left,bottom;
}
.project-management-container16 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.project-management-text51 {
  color: var(--dl-color-gray-white);
  width: fit-content;
  font-size: 2rem;
}
.project-management-text55 {
  color: var(--dl-color-gray-white);
  margin-top: 32px;
  text-align: left;
  margin-bottom: 32px;
}
.project-management-problems12 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.project-management-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.project-management-text56 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgb(30, 177, 187) 3.00%,rgba(130, 187, 39, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-management-text59 {
  color: var(--dl-color-gray-white);
}
.project-management-text60 {
  color: var(--dl-color-gray-white);
}
.project-management-text61 {
  color: var(--dl-color-gray-white);
}
.project-management-solutions12 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.project-management-container20 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.project-management-text62 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgb(0, 93, 99) 3.00%,rgba(130, 187, 39, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-management-container21 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: max-content;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  list-style-image: url();
}
.project-management-section22 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: flex-start;
  background-image: linear-gradient(113deg, rgba(53, 133, 138, 0.8) 8.00%,rgba(136, 176, 71, 0.8) 94.00%),url('https://res.cloudinary.com/dhdonsil5/image/upload/v1671262007/IEES/Img/services/pm-5_uwjauo.jpg');
}
.project-management-container23 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.project-management-text65 {
  color: var(--dl-color-gray-white);
  width: fit-content;
  font-size: 2rem;
}
.project-management-text69 {
  color: var(--dl-color-gray-white);
  margin-top: 32px;
  text-align: left;
  margin-bottom: 32px;
}
.project-management-problems13 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.project-management-card6 {
  padding-top: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: flex-start;
}
.project-management-container25 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.project-management-text70 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgba(0, 0, 0, 0.72) 4.00%,rgba(43, 66, 6, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-management-ul3 {
  margin-top: var(--dl-space-space-doubleunit);
  padding-top: var(--dl-space-space-unit);
}
.project-management-text73 {
  color: var(--dl-color-gray-white);
}
.project-management-ul4 {
  font-size: .8rem;
  margin-top: var(--dl-space-space-halfunit);
  list-style-type: square;
}
.project-management-text74 {
  color: var(--dl-color-gray-white);
}
.project-management-text75 {
  color: var(--dl-color-gray-white);
}
.project-management-text76 {
  color: var(--dl-color-gray-white);
}
.project-management-solutions13 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.project-management-container26 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.project-management-text77 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgb(0, 93, 99) 3.00%,rgba(130, 187, 39, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-management-container27 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: max-content;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  list-style-image: url();
}
.project-management-container28 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.project-management-container29 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.project-management-text80 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-management-container30 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  background-size: cover;
  justify-content: center;
}
.project-management-pricing-card {
  background-size: cover;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 0.00%,rgba(255, 255, 255, 0.7) 98.00%),url('https://res.cloudinary.com/dhdonsil5/image/upload/v1671262004/IEES/Img/services/pm-1_yeyjkp.jpg');
  background-repeat: repeat,no-repeat;
  background-position: top left,center;
}
.project-management-text81 {
  color: var(--dl-color-primary-700);
  font-size: 2rem;
  transform: translateY(200%);
  align-self: center;
  text-align: center;
  transition: all .1s ease-out;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
.project-management-container32 {
  flex: 0 0 auto;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.project-management-text82 {
  text-align: left;
  font-weight: 300;
}
.project-management-container33 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-end;
  justify-content: center;
}
.project-management-link1 {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-top: auto;
  transition: all 0.3s ease-out;
  padding-top: var(--dl-space-space-unit);
  justify-self: flex-end;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.project-management-link1:hover {
  background-color: var(--dl-color-applegreen-main);
}
.project-management-pricing-card1 {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 0.00%,rgba(255, 255, 255, 0.7) 98.00%),url('https://images.unsplash.com/photo-1558358235-a0a93f68a52c?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDV8fGh2YWN8ZW58MHx8fHwxNjcxMjY3OTE3&ixlib=rb-4.0.3&w=500');
  background-position: top left,center;
}
.project-management-pricing-card1:hover {
  transform: scale(1.02);
}
.project-management-text83 {
  color: var(--dl-color-primary-700);
  font-size: 2rem;
  transform: translateY(200%);
  align-self: center;
  text-align: center;
  transition: all .1s ease-out;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
.project-management-container34 {
  width: 100%;
  bottom: 0;
  height: 60%;
  display: flex;
  position: absolute;
  transform: translateY(100%);
  box-shadow: 0 -8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  min-height: 70px;
  transition: all .2s cubic-bezier(.4,0,.2,1);
  visibility: hidden;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-unitandahalfunit);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  backdrop-filter: saturate(200%) blur(30px);
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  animation-duration: 200ms;
}
.project-management-container35 {
  flex: 0 0 auto;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.project-management-text84 {
  text-align: left;
  font-weight: 300;
}
.project-management-container36 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-end;
  justify-content: center;
}
.project-management-navlink {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-top: auto;
  transition: all 0.3s ease-out;
  padding-top: var(--dl-space-space-unit);
  justify-self: flex-end;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.project-management-navlink:hover {
  background-color: var(--dl-color-applegreen-main);
}
.project-management-pricing-card2 {
  background-size: cover;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 0.00%,rgba(255, 255, 255, 0.7) 98.00%),url('https://images.unsplash.com/photo-1504868584819-f8e8b4b6d7e3?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEzfHxjaGFydHxlbnwwfHx8fDE2NzEyNjgwMTE&ixlib=rb-4.0.3&w=500');
}
.project-management-pricing-card2:hover {
  transform: scale(1.02);
}
.project-management-text85 {
  color: var(--dl-color-primary-700);
  font-size: 2rem;
  transform: translateY(200%);
  align-self: center;
  text-align: center;
  transition: all .1s ease-out;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 1.3;
  text-transform: none;
  text-decoration: none;
}
.project-management-container37 {
  width: 100%;
  bottom: 0;
  height: 60%;
  display: flex;
  position: absolute;
  transform: translateY(100%);
  box-shadow: 0 -8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  min-height: 70px;
  transition: all .2s cubic-bezier(.4,0,.2,1);
  visibility: hidden;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-unitandahalfunit);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  backdrop-filter: saturate(200%) blur(30px);
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  animation-duration: 200ms;
}
.project-management-container38 {
  flex: 0 0 auto;
  width: 100%;
  height: 70%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.project-management-text86 {
  text-align: left;
  font-weight: 300;
}
.project-management-container39 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-end;
  justify-content: center;
}
.project-management-navlink1 {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-top: auto;
  transition: all 0.3s ease-out;
  padding-top: var(--dl-space-space-unit);
  justify-self: flex-end;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.project-management-navlink1:hover {
  background-color: var(--dl-color-applegreen-main);
}
.project-management-up {
  top: 48px;
  flex: 0 0 auto;
  left: 739px;
  width: auto;
  height: auto;
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
}
.project-management-icon {
  width: 50px;
  height: 50px;
}
.project-management-down {
  top: 935px;
  flex: 0 0 auto;
  left: 752px;
  width: auto;
  height: auto;
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
}
.project-management-icon2 {
  width: 50px;
  height: 50px;
}
@media(max-width: 1200px) {
  .project-management-section1 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .project-management-problems1 {
    width: 48%;
  }
  .project-management-solutions1 {
    width: 48%;
  }
  .project-management-card1 {
    padding-top: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
    justify-content: flex-start;
  }
  .project-management-container08 {
    margin-top: var(--dl-space-space-doubleunit);
    padding-top: var(--dl-space-space-unit);
  }
  .project-management-section2 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .project-management-problems11 {
    width: 48%;
  }
  .project-management-solutions11 {
    width: 48%;
  }
  .project-management-section21 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .project-management-problems12 {
    width: 48%;
  }
  .project-management-solutions12 {
    width: 48%;
  }
  .project-management-section22 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .project-management-problems13 {
    width: 48%;
  }
  .project-management-card6 {
    padding-top: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
    justify-content: flex-start;
  }
  .project-management-ul3 {
    margin-top: var(--dl-space-space-doubleunit);
    padding-top: var(--dl-space-space-unit);
  }
  .project-management-solutions13 {
    width: 48%;
  }
  .project-management-container30 {
    width: auto;
    flex-direction: column;
  }
  .project-management-text82 {
    line-height: 1.8;
    letter-spacing: 1.1px;
  }
  .project-management-text84 {
    line-height: 1.8;
    letter-spacing: 1.1px;
  }
  .project-management-text86 {
    line-height: 1.8;
    letter-spacing: 1.1px;
  }
}
@media(max-width: 991px) {
  .project-management-hero {
    flex-direction: column;
  }
  .project-management-text {
    text-align: center;
  }
  .project-management-text05 {
    text-align: center;
  }
  .project-management-section1 {
    padding-left: var(--dl-space-space-doubleunit);
    flex-direction: column;
  }
  .project-management-text22 {
    font-size: 1rem;
  }
  .project-management-text31 {
    font-size: 1rem;
  }
  .project-management-container08 {
    padding-top: 0px;
  }
  .project-management-section2 {
    padding-left: var(--dl-space-space-doubleunit);
    flex-direction: column;
  }
  .project-management-text41 {
    font-size: 1rem;
  }
  .project-management-text48 {
    font-size: 1rem;
  }
  .project-management-section21 {
    padding-left: var(--dl-space-space-doubleunit);
    flex-direction: column;
  }
  .project-management-text56 {
    font-size: 1rem;
  }
  .project-management-text62 {
    font-size: 1rem;
  }
  .project-management-section22 {
    padding-left: var(--dl-space-space-doubleunit);
    flex-direction: column;
  }
  .project-management-text70 {
    font-size: 1rem;
  }
  .project-management-ul4 {
    font-size: .7rem;
  }
  .project-management-text77 {
    font-size: 1rem;
  }
  .project-management-container30 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .project-management-hero {
    padding-left: 32px;
    padding-right: 32px;
  }
  .project-management-text05 {
    width: 70%;
  }
  .project-management-section1 {
    height: auto;
    min-height: 100vh;
    padding-top: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .project-management-problems1 {
    width: 90%;
    height: auto;
    justify-content: flex-start;
  }
  .project-management-solutions1 {
    width: 90%;
    height: auto;
    min-height: auto;
    justify-content: flex-start;
  }
  .project-management-container08 {
    margin-top: var(--dl-space-space-unitandahalfunit);
    margin-bottom: 0;
  }
  .project-management-section2 {
    height: auto;
    min-height: 100vh;
    padding-top: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .project-management-problems11 {
    width: 90%;
    height: auto;
    justify-content: flex-start;
  }
  .project-management-solutions11 {
    width: 90%;
    height: auto;
    justify-content: flex-start;
  }
  .project-management-section21 {
    height: auto;
    min-height: 100vh;
    padding-top: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .project-management-problems12 {
    width: 90%;
    height: auto;
    justify-content: flex-start;
  }
  .project-management-solutions12 {
    width: 90%;
    height: auto;
    justify-content: flex-start;
  }
  .project-management-section22 {
    height: auto;
    min-height: 100vh;
    padding-top: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .project-management-problems13 {
    width: 90%;
    height: auto;
    justify-content: flex-start;
  }
  .project-management-solutions13 {
    width: 90%;
    height: auto;
    justify-content: flex-start;
  }
  .project-management-container30 {
    flex-flow: column;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .project-management-hero {
    width: 100%;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
    padding-bottom: 32px;
  }
  .project-management-container01 {
    margin-top: var(--dl-space-space-doubleunit);
    padding-top: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .project-management-text {
    font-size: 2.4rem;
  }
  .project-management-text05 {
    color: var(--dl-color-gray-white);
    width: auto;
    font-size: 0.8rem;
    max-width: 100%;
  }
  .project-management-text07 {
    color: var(--dl-color-gray-white);
  }
  .project-management-text08 {
    color: var(--dl-color-gray-white);
  }
  .project-management-btn-group {
    flex-direction: column;
  }
  .project-management-link {
    color: var(--dl-color-primary-500);
    width: 100%;
    text-align: center;
    padding-left: 32px;
    padding-right: 32px;
  }
  .project-management-button {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .project-management-text12 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .project-management-section1 {
    height: auto;
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .project-management-container03 {
    margin-bottom: 0px;
  }
  .project-management-text18 {
    font-size: 0.8rem;
  }
  .project-management-problems1 {
    width: 100%;
  }
  .project-management-solutions1 {
    width: 100%;
  }
  .project-management-section2 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .project-management-problems11 {
    width: 100%;
  }
  .project-management-solutions11 {
    width: 100%;
  }
  .project-management-section21 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .project-management-problems12 {
    width: 100%;
  }
  .project-management-text59 {
    color: var(--dl-color-gray-white);
  }
  .project-management-solutions12 {
    width: 100%;
  }
  .project-management-section22 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .project-management-problems13 {
    width: 100%;
  }
  .project-management-ul3 {
    margin-top: var(--dl-space-space-unitandahalfunit);
    padding-top: 0px;
  }
  .project-management-solutions13 {
    width: 100%;
  }
  .project-management-container30 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
    padding-bottom: 32px;
  }
}
