.project-management-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-900);
}
.project-management-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 48px;
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: linear-gradient(113deg, rgba(0, 54, 57, 0.7) 8.00%,rgba(50, 74, 10, 0.8) 94.00%),url('https://res.cloudinary.com/dhdonsil5/image/upload/v1671262004/IEES/Img/services/pm-1_yeyjkp.jpg');
  background-repeat: center,top left;
  background-position: top left,center;
}
.project-management-container01 {
  flex: 0 0 auto;
  display: flex;
  max-width: 1350px;
  align-items: center;
  flex-direction: column;
}
.project-management-text {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-tripleunit);
  animation-delay: .4s;
}
.project-management-text01 {
  color: var(--dl-color-gray-white);
  max-width: 80%;
  margin-top: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-tripleunit);
  animation-delay: .6s;
}
.project-management-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.project-management-link {
  display: contents;
}
.project-management-get-started-button {
  text-decoration: none;
}
.project-management-button {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  animation-delay: .7s;
  background-color: transparent;
}
.project-management-button:hover {
  transform: scale(1.02);
}
.project-management-text08:hover {
  transform: scale(1.02);
}
.project-management-section1 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: flex-start;
  background-image: linear-gradient(113deg, rgba(0, 46, 49, 0.8) 8.00%,rgba(64, 91, 21, 0.8) 94.00%),url('https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIzfHx3b3JrJTIwbGFwdG9wfGVufDB8fHx8MTYyNjE3NjkzMA&ixlib=rb-1.2.1&w=1500');
}
.project-management-container02 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.project-management-text10 {
  color: var(--dl-color-gray-white);
  width: fit-content;
  font-size: 2rem;
}
.project-management-text14 {
  color: var(--dl-color-gray-white);
  margin-top: 32px;
  text-align: left;
  margin-bottom: 32px;
}
.project-management-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.project-management-problems1 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.project-management-card {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  padding: var(--dl-space-space-unit);
  z-index: 1;
  min-width: 55%;
  align-self: center;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  min-height: 30vh;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(10px);
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.2);
}
.project-management-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.project-management-text18 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgb(30, 177, 187) 3.00%,rgba(130, 187, 39, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-management-list {
  color: var(--dl-color-gray-white);
  width: auto;
  font-size: .9rem;
  align-self: flex-start;
  list-style-type: disc;
  list-style-image: url();
}
.project-management-text21 {
  color: var(--dl-color-gray-white);
}
.project-management-text22 {
  color: var(--dl-color-gray-white);
}
.project-management-ul {
  font-size: .8rem;
  margin-top: var(--dl-space-space-halfunit);
  list-style-type: square;
}
.project-management-text23 {
  color: var(--dl-color-gray-white);
}
.project-management-text24 {
  color: var(--dl-color-gray-white);
}
.project-management-text25 {
  color: var(--dl-color-gray-white);
}
.project-management-text26 {
  color: var(--dl-color-gray-white);
}
.project-management-solutions1 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.project-management-card1 {
  width: 70%;
  display: flex;
  padding: var(--dl-space-space-unit);
  z-index: 1;
  align-self: center;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  min-height: 30vh;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(10px);
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.8);
}
.project-management-container05 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.project-management-text27 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgb(0, 93, 99) 3.00%,rgba(130, 187, 39, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-management-container06 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: max-content;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  list-style-image: url();
}
.project-management-section2 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: flex-start;
  background-image: linear-gradient(113deg, rgba(58, 131, 136, 0.8) 10.00%,rgba(139, 185, 66, 0.8) 94.00%),url('https://res.cloudinary.com/dhdonsil5/image/upload/v1671263157/IEES/Img/services/brandi-redd-aJTiW00qqtI-unsplash_b1b9lf.jpg');
  background-repeat: no-repeat;
  background-position: top left,center;
}
.project-management-container07 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.project-management-text30 {
  color: var(--dl-color-gray-white);
  width: fit-content;
  font-size: 2rem;
}
.project-management-text34 {
  color: var(--dl-color-gray-white);
  margin-top: 32px;
  text-align: left;
  margin-bottom: 32px;
}
.project-management-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.project-management-problems11 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.project-management-card2 {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  padding: var(--dl-space-space-unit);
  z-index: 1;
  min-width: 55%;
  align-self: center;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  min-height: 30vh;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(10px);
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.2);
}
.project-management-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.project-management-text37 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgb(30, 177, 187) 3.00%,rgba(130, 187, 39, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-management-ul1 {
  color: var(--dl-color-gray-white);
  width: auto;
  font-size: .9rem;
  align-self: flex-start;
  list-style-type: disc;
  list-style-image: url();
}
.project-management-text40 {
  color: var(--dl-color-gray-white);
}
.project-management-text41 {
  color: var(--dl-color-gray-white);
}
.project-management-text42 {
  color: var(--dl-color-gray-white);
}
.project-management-text43 {
  color: var(--dl-color-gray-white);
}
.project-management-solutions11 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.project-management-card3 {
  width: 70%;
  display: flex;
  padding: var(--dl-space-space-unit);
  z-index: 1;
  align-self: center;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  min-height: 30vh;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(10px);
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.8);
}
.project-management-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.project-management-text44 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgb(0, 93, 99) 3.00%,rgba(130, 187, 39, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-management-container11 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: max-content;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  list-style-image: url();
}
.project-management-section21 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: flex-start;
  background-image: linear-gradient(113deg, rgba(0, 46, 49, 0.8) 8.00%,rgba(64, 91, 21, 0.8) 94.00%),url('https://res.cloudinary.com/dhdonsil5/image/upload/v1671262005/IEES/Img/services/pm-4_grqsk7.jpg');
  background-repeat: no-repeat;
  background-position: top left,bottom;
}
.project-management-container12 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.project-management-text47 {
  color: var(--dl-color-gray-white);
  width: fit-content;
  font-size: 2rem;
}
.project-management-text51 {
  color: var(--dl-color-gray-white);
  margin-top: 32px;
  text-align: left;
  margin-bottom: 32px;
}
.project-management-container13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.project-management-problems12 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.project-management-card4 {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  padding: var(--dl-space-space-unit);
  z-index: 1;
  min-width: 55%;
  align-self: center;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  min-height: 30vh;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(10px);
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.2);
}
.project-management-container14 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.project-management-text52 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgb(30, 177, 187) 3.00%,rgba(130, 187, 39, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-management-ul2 {
  color: var(--dl-color-gray-white);
  width: auto;
  font-size: .9rem;
  align-self: flex-start;
  list-style-type: disc;
  list-style-image: url();
}
.project-management-text55 {
  color: var(--dl-color-gray-white);
}
.project-management-text56 {
  color: var(--dl-color-gray-white);
}
.project-management-text57 {
  color: var(--dl-color-gray-white);
}
.project-management-solutions12 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.project-management-card5 {
  width: 70%;
  display: flex;
  padding: var(--dl-space-space-unit);
  z-index: 1;
  align-self: center;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  min-height: 30vh;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(10px);
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.8);
}
.project-management-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.project-management-text58 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgb(0, 93, 99) 3.00%,rgba(130, 187, 39, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-management-container16 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: max-content;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  list-style-image: url();
}
.project-management-section22 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: flex-start;
  background-image: linear-gradient(113deg, rgba(53, 133, 138, 0.8) 8.00%,rgba(136, 176, 71, 0.8) 94.00%),url('https://res.cloudinary.com/dhdonsil5/image/upload/v1671262007/IEES/Img/services/pm-5_uwjauo.jpg');
}
.project-management-container17 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.project-management-text61 {
  color: var(--dl-color-gray-white);
  width: fit-content;
  font-size: 2rem;
}
.project-management-text65 {
  color: var(--dl-color-gray-white);
  margin-top: 32px;
  text-align: left;
  margin-bottom: 32px;
}
.project-management-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.project-management-problems13 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.project-management-card6 {
  flex: 0 0 auto;
  width: 80%;
  display: flex;
  padding: var(--dl-space-space-unit);
  z-index: 1;
  min-width: 55%;
  align-self: center;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  min-height: 30vh;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(10px);
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.2);
}
.project-management-container19 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.project-management-text66 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgb(30, 177, 187) 3.00%,rgba(130, 187, 39, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-management-ul3 {
  color: var(--dl-color-gray-white);
  width: auto;
  font-size: .9rem;
  align-self: flex-start;
  list-style-type: disc;
  list-style-image: url();
}
.project-management-text69 {
  color: var(--dl-color-gray-white);
}
.project-management-ul4 {
  font-size: .8rem;
  margin-top: var(--dl-space-space-halfunit);
  list-style-type: square;
}
.project-management-text70 {
  color: var(--dl-color-gray-white);
}
.project-management-text71 {
  color: var(--dl-color-gray-white);
}
.project-management-text72 {
  color: var(--dl-color-gray-white);
}
.project-management-solutions13 {
  flex: 0 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.project-management-card7 {
  width: 70%;
  display: flex;
  padding: var(--dl-space-space-unit);
  z-index: 1;
  align-self: center;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  min-height: 30vh;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(10px);
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.8);
}
.project-management-container20 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.project-management-text73 {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  text-transform: uppercase;
  background-image: linear-gradient(315deg, rgb(0, 93, 99) 3.00%,rgba(130, 187, 39, 0.92) 99.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-management-container21 {
  gap: var(--dl-space-space-halfunit);
  width: 100%;
  height: max-content;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  list-style-image: url();
}
.project-management-container22 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: center;
}
.project-management-container23 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.project-management-text76 {
  font-size: 3rem;
}
.project-management-container24 {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  background-size: cover;
  justify-content: center;
}
.project-management-navlink {
  display: contents;
}
.project-management-component20 {
  text-decoration: none;
}
.project-management-navlink1 {
  display: contents;
}
.project-management-component21 {
  text-decoration: none;
}
.project-management-navlink2 {
  display: contents;
}
.project-management-component22 {
  text-decoration: none;
}
.project-management-up {
  top: 48px;
  flex: 0 0 auto;
  left: 739px;
  width: auto;
  height: auto;
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
}
.project-management-icon {
  width: 50px;
  height: 50px;
}
.project-management-down {
  top: 935px;
  flex: 0 0 auto;
  left: 752px;
  width: auto;
  height: auto;
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
}
.project-management-icon2 {
  width: 50px;
  height: 50px;
}
@media(max-width: 1200px) {
  .project-management-section1 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .project-management-container03 {
    padding: var(--dl-space-space-unit);
    align-items: center;
    justify-content: space-between;
  }
  .project-management-problems1 {
    width: 48%;
  }
  .project-management-card {
    width: 100%;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .project-management-solutions1 {
    width: 48%;
  }
  .project-management-card1 {
    width: 100%;
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
  }
  .project-management-section2 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .project-management-container08 {
    padding: var(--dl-space-space-unit);
    align-items: center;
    justify-content: space-between;
  }
  .project-management-problems11 {
    width: 48%;
  }
  .project-management-card2 {
    width: 100%;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .project-management-solutions11 {
    width: 48%;
  }
  .project-management-card3 {
    width: 100%;
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
  }
  .project-management-section21 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .project-management-container13 {
    padding: var(--dl-space-space-unit);
    align-items: center;
    justify-content: space-between;
  }
  .project-management-problems12 {
    width: 48%;
  }
  .project-management-card4 {
    width: 100%;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .project-management-solutions12 {
    width: 48%;
  }
  .project-management-card5 {
    width: 100%;
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
  }
  .project-management-section22 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .project-management-container18 {
    padding: var(--dl-space-space-unit);
    align-items: center;
    justify-content: space-between;
  }
  .project-management-problems13 {
    width: 48%;
  }
  .project-management-card6 {
    width: 100%;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .project-management-solutions13 {
    width: 48%;
  }
  .project-management-card7 {
    width: 100%;
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
  }
  .project-management-container24 {
    width: auto;
    flex-direction: column;
  }
}
@media(max-width: 991px) {
  .project-management-hero {
    flex-direction: column;
  }
  .project-management-text {
    text-align: center;
  }
  .project-management-text01 {
    text-align: center;
  }
  .project-management-section1 {
    padding-left: var(--dl-space-space-doubleunit);
    flex-direction: column;
  }
  .project-management-container03 {
    padding-top: var(--dl-space-space-tripleunit);
    padding-left: 0px;
    padding-right: 0px;
  }
  .project-management-card {
    width: 100%;
  }
  .project-management-text18 {
    font-size: 1rem;
  }
  .project-management-list {
    font-size: .8rem;
  }
  .project-management-ul {
    font-size: .7rem;
  }
  .project-management-card1 {
    width: 100%;
  }
  .project-management-text27 {
    font-size: 1rem;
  }
  .project-management-section2 {
    padding-left: var(--dl-space-space-doubleunit);
    flex-direction: column;
  }
  .project-management-container08 {
    padding-top: var(--dl-space-space-tripleunit);
    padding-left: 0px;
    padding-right: 0px;
  }
  .project-management-card2 {
    width: 100%;
  }
  .project-management-text37 {
    font-size: 1rem;
  }
  .project-management-ul1 {
    font-size: .8rem;
  }
  .project-management-card3 {
    width: 100%;
  }
  .project-management-text44 {
    font-size: 1rem;
  }
  .project-management-section21 {
    padding-left: var(--dl-space-space-doubleunit);
    flex-direction: column;
  }
  .project-management-container13 {
    padding-top: var(--dl-space-space-tripleunit);
    padding-left: 0px;
    padding-right: 0px;
  }
  .project-management-card4 {
    width: 100%;
  }
  .project-management-text52 {
    font-size: 1rem;
  }
  .project-management-ul2 {
    font-size: .8rem;
  }
  .project-management-card5 {
    width: 100%;
  }
  .project-management-text58 {
    font-size: 1rem;
  }
  .project-management-section22 {
    padding-left: var(--dl-space-space-doubleunit);
    flex-direction: column;
  }
  .project-management-container18 {
    padding-top: var(--dl-space-space-tripleunit);
    padding-left: 0px;
    padding-right: 0px;
  }
  .project-management-card6 {
    width: 100%;
  }
  .project-management-text66 {
    font-size: 1rem;
  }
  .project-management-ul3 {
    font-size: .8rem;
  }
  .project-management-ul4 {
    font-size: .7rem;
  }
  .project-management-card7 {
    width: 100%;
  }
  .project-management-text73 {
    font-size: 1rem;
  }
  .project-management-container24 {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .project-management-hero {
    padding-left: 32px;
    padding-right: 32px;
  }
  .project-management-text01 {
    width: 70%;
  }
  .project-management-section1 {
    height: auto;
    min-height: 100vh;
    padding-top: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .project-management-container03 {
    flex-direction: column;
    justify-content: flex-start;
  }
  .project-management-problems1 {
    width: 90%;
    height: auto;
    justify-content: flex-start;
  }
  .project-management-card {
    align-items: center;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .project-management-solutions1 {
    width: 90%;
    height: auto;
    justify-content: flex-start;
  }
  .project-management-card1 {
    align-items: center;
  }
  .project-management-section2 {
    height: auto;
    min-height: 100vh;
    padding-top: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .project-management-container08 {
    flex-direction: column;
    justify-content: flex-start;
  }
  .project-management-problems11 {
    width: 90%;
    height: auto;
    justify-content: flex-start;
  }
  .project-management-card2 {
    align-items: center;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .project-management-solutions11 {
    width: 90%;
    height: auto;
    justify-content: flex-start;
  }
  .project-management-card3 {
    align-items: center;
  }
  .project-management-section21 {
    height: auto;
    min-height: 100vh;
    padding-top: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .project-management-container13 {
    flex-direction: column;
    justify-content: flex-start;
  }
  .project-management-problems12 {
    width: 90%;
    height: auto;
    justify-content: flex-start;
  }
  .project-management-card4 {
    align-items: center;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .project-management-solutions12 {
    width: 90%;
    height: auto;
    justify-content: flex-start;
  }
  .project-management-card5 {
    align-items: center;
  }
  .project-management-section22 {
    height: auto;
    min-height: 100vh;
    padding-top: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-tripleunit);
  }
  .project-management-container18 {
    flex-direction: column;
    justify-content: flex-start;
  }
  .project-management-problems13 {
    width: 90%;
    height: auto;
    justify-content: flex-start;
  }
  .project-management-card6 {
    align-items: center;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .project-management-solutions13 {
    width: 90%;
    height: auto;
    justify-content: flex-start;
  }
  .project-management-card7 {
    align-items: center;
  }
  .project-management-container24 {
    flex-flow: column;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media(max-width: 479px) {
  .project-management-hero {
    width: 100%;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unitandahalfunit);
    padding-right: var(--dl-space-space-unitandahalfunit);
    padding-bottom: 32px;
  }
  .project-management-container01 {
    margin-top: var(--dl-space-space-doubleunit);
    padding-top: var(--dl-space-space-doubleunit);
    padding-bottom: var(--dl-space-space-doubleunit);
  }
  .project-management-text {
    font-size: 2.4rem;
  }
  .project-management-text01 {
    color: var(--dl-color-gray-white);
    width: auto;
    font-size: 0.8rem;
    max-width: 100%;
  }
  .project-management-text03 {
    color: var(--dl-color-gray-white);
  }
  .project-management-text04 {
    color: var(--dl-color-gray-white);
  }
  .project-management-btn-group {
    flex-direction: column;
  }
  .project-management-button {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .project-management-text08 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .project-management-section1 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .project-management-container02 {
    margin-bottom: 0px;
  }
  .project-management-text14 {
    font-size: 0.8rem;
  }
  .project-management-container03 {
    padding-top: var(--dl-space-space-doubleunit);
  }
  .project-management-problems1 {
    width: 100%;
  }
  .project-management-card {
    padding: var(--dl-space-space-unit);
  }
  .project-management-solutions1 {
    width: 100%;
  }
  .project-management-card1 {
    padding: var(--dl-space-space-unit);
  }
  .project-management-section2 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .project-management-problems11 {
    width: 100%;
  }
  .project-management-card2 {
    padding: var(--dl-space-space-unit);
  }
  .project-management-solutions11 {
    width: 100%;
  }
  .project-management-card3 {
    padding: var(--dl-space-space-unit);
  }
  .project-management-section21 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .project-management-problems12 {
    width: 100%;
  }
  .project-management-card4 {
    padding: var(--dl-space-space-unit);
  }
  .project-management-solutions12 {
    width: 100%;
  }
  .project-management-card5 {
    padding: var(--dl-space-space-unit);
  }
  .project-management-section22 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .project-management-problems13 {
    width: 100%;
  }
  .project-management-card6 {
    padding: var(--dl-space-space-unit);
  }
  .project-management-solutions13 {
    width: 100%;
  }
  .project-management-card7 {
    padding: var(--dl-space-space-unit);
  }
  .project-management-text76 {
    font-size: 2rem;
  }
  .project-management-container24 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}
