.header-full-header {
  width: 100%;
  height: 60px;
  display: flex;
  z-index: 3;
  box-shadow: 0 .25rem .375rem -.0625rem hsla(0,0%,8%,.12),0 .125rem .25rem -.0625rem hsla(0,0%,8%,.07)!important;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.header-full-nav {
  flex: 0 0 auto;
  color: var(--dl-color-secondary-600);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1320px;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.header-full-container {
  color: var(--dl-color-gray-black);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-full-navlink {
  display: contents;
}
.header-full-container1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.header-full-image {
  width: 40px;
  object-fit: contain;
}
.header-full-text {
  color: var(--dl-color-applegreen-main);
  font-size: 30px;
  font-weight: 600;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-unit);
}
.header-full-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.header-full-navlink1 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-full-navlink1:hover {
  color: var(--dl-color-gray-500);
}
.header-full-navlink2 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-full-navlink2:hover {
  color: var(--dl-color-gray-500);
}
.header-full-navlink3 {
  margin-top: var(--dl-space-space-halfunit);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.header-full-navlink3:hover {
  color: var(--dl-color-gray-500);
}
.header-full-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-full-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-full-navlink4 {
  display: contents;
}
.header-full-component {
  text-decoration: none;
}
.header-full-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-full-icon {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
}
.header-full-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-unitandahalfunit);
  z-index: 100;
  overflow: hidden;
  position: fixed;
  align-items: flex-start;
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(30px);
  background-color: var(--dl-color-gray-white);
}
.header-full-top {
  top: 0;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: absolute;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-full-navlink5 {
  color: var(--dl-color-secondary-700);
  font-weight: 600;
  text-decoration: none;
}
.header-full-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-full-icon2 {
  width: 24px;
  height: 24px;
}
.header-full-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.header-full-menu1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.header-full-home-link {
  font-size: 0.875rem;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
}
.header-full-services-link {
  font-size: 0.875rem;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
}
.header-full-projects-link {
  font-size: 0.875rem;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
}
.header-full-about-link {
  font-size: 0.875rem;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
}
.header-full-about-link1 {
  font-size: 0.875rem;
  transition: 0.3s;
  font-family: Open Sans;
  font-weight: 400;
  margin-bottom: var(--dl-space-space-halfunit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
}
.header-full-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  flex-direction: column;
}
.header-full-container4 {
  display: flex;
  position: relative;
}
.header-full-button {
  color: var(--dl-color-gray-white);
  outline: none;
  position: relative;
  font-size: 0.78rem;
  background:  linear-gradient( 310deg ,#005d63,#82bb27);
  box-shadow: 0 4px 7px -1px rgb(0 0 0 / 11%), 0 2px 4px -1px rgb(0 0 0 / 7%);
  font-style: normal;
  text-align: center;
  transition: all .15s ease-in;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 1.4;
  padding-top: var(--dl-space-space-triplequarterunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  border-radius: 1.875rem;
  padding-right: var(--dl-space-space-unitandahalfunit);
  letter-spacing: -0.025rem;
  padding-bottom: var(--dl-space-space-triplequarterunit);
  text-transform: uppercase;
}
@media(max-width: 991px) {
  .header-full-nav {
    max-width: 960px;
  }
  .header-full-menu {
    display: none;
  }
}
@media(max-width: 767px) {
  .header-full-burger-menu {
    display: flex;
  }
  .header-full-button {
    font-size: .6rem;
  }
}
@media(max-width: 479px) {
  .header-full-text {
    font-size: 20px;
  }
  .header-full-container3 {
    display: none;
  }
  .header-full-mobile-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-full-navlink5 {
    color: var(--dl-color-secondary-700);
    font-weight: 600;
    text-decoration: none;
  }
  .header-full-mid {
    align-items: center;
    justify-content: center;
  }
  .header-full-menu1 {
    align-items: center;
  }
  .header-full-home-link {
    color: var(--dl-color-primary-700);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    margin-bottom: var(--dl-space-space-doubleunit);
    text-transform: uppercase;
  }
  .header-full-services-link {
    color: var(--dl-color-primary-700);
    font-size: 2rem;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 600;
    margin-bottom: var(--dl-space-space-doubleunit);
    letter-spacing: -0.025rem;
    text-transform: uppercase;
    text-decoration: none;
  }
  .header-full-projects-link {
    color: var(--dl-color-primary-700);
    font-size: 2rem;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 600;
    margin-bottom: var(--dl-space-space-doubleunit);
    letter-spacing: -0.025rem;
    text-transform: uppercase;
    text-decoration: none;
  }
  .header-full-about-link {
    color: var(--dl-color-primary-700);
    font-size: 2rem;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 600;
    margin-bottom: var(--dl-space-space-doubleunit);
    letter-spacing: -0.025rem;
    text-transform: uppercase;
    text-decoration: none;
  }
  .header-full-about-link1 {
    color: var(--dl-color-primary-700);
    font-size: 2rem;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 600;
    margin-bottom: var(--dl-space-space-doubleunit);
    letter-spacing: -0.025rem;
    text-transform: uppercase;
    text-decoration: none;
  }
  .header-full-bot {
    width: 100%;
    display: none;
  }
  .header-full-container4 {
    width: auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .header-full-button {
    align-self: center;
  }
}
