.icon-list-item-light-container {
  width: 100%;
  height: auto;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.icon-list-item-light-container1 {
  fill: var(--dl-color-gray-white);
  color: var(--dl-color-gray-white);
  display: flex;
  transition: 0.3s;
  align-items: center;
}
.icon-list-item-light-container1:hover {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
}
.icon-list-item-light-icon {
  fill: inherit;
  width: var(--dl-size-size-triplequarterunit);
  height: var(--dl-size-size-triplequarterunit);
  margin-top: 0px;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
}
.icon-list-item-light-text {
  color: inherit;
  width: 100%;
  font-size: .9rem;
  text-align: left;
}






@media(max-width: 991px) {
  .icon-list-item-light-text {
    font-size: 0.8rem;
  }
}
