.icon-list-item-problem-container {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.icon-list-item-problem-li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
}
.icon-list-item-problem-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.icon-list-item-problem-icon {
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  margin-top: 0px;
  margin-bottom: 0px;
}
.icon-list-item-problem-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
