.icon-list-item-general-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.icon-list-item-general-li {
  list-style-type: none;
}
.icon-list-item-general-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.icon-list-item-general-icon {
  fill: var(--dl-color-primary-700);
  width: var(--dl-size-size-triplequarterunit);
  height: var(--dl-size-size-triplequarterunit);
  margin-top: 0px;
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: 0px;
}
.icon-list-item-general-text {
  color: var(--dl-color-primary-700);
  width: 100%;
  display: inline-block;
  font-size: .9rem;
  text-align: left;
}
@media(max-width: 991px) {
  .icon-list-item-general-text {
    font-size: 0.8rem;
  }
}
